<div class="praise-card">
  <p class="comment">{{comment}}</p>
  <div class="praise-card__info">
    <img class="img img--round" src="{{image.src}}" alt="{{image.alt}}">
    <div class="person">
      <p>{{name}}</p>
      <p>{{date}}</p>
    </div>
  </div>
  {{render '@heart'}}
</div>