<section class="featured-profile">
  <h1 class="featured-profile__heading">{{title}}</h1>
  {{render "@image"}}
  <div class="featured-profile__info">
    <h2 class="featured-profile__user">{{user}}</h2>
    <div class="featured-profile__praiseArea">
      <p class="featured-profile__praiseCounter">{{praiseCounter}}</p>
      {{render "@heart"}}
    </div>
  
    <p class="featured-profile__comment">{{comment}}</p>
    <p class="featured-profile__commentAuthor">{{commentAuthor}}</p>
  </div>
</section>